BingMap/BingMap/Service References/ServiceReference1/WarningTrafficService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WarningTrafficService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WarningTrafficService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Warnings" nillable="true" type="tns:ArrayOfWarning">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfWarning">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Warning" nillable="true" type="tns:Warning" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWarning" nillable="true" type="tns:ArrayOfWarning" />
  <xs:complexType name="Warning">
    <xs:sequence>
      <xs:element minOccurs="0" name="idWarning" type="xs:int" />
      <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contentWarning" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="time" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="police" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="hotline" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lon" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="lat" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Warning" nillable="true" type="tns:Warning" />
  <xs:complexType name="ArrayOfLaw">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Law" nillable="true" type="tns:Law" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLaw" nillable="true" type="tns:ArrayOfLaw" />
  <xs:complexType name="Law">
    <xs:sequence>
      <xs:element minOccurs="0" name="idLaw" type="xs:int" />
      <xs:element minOccurs="0" name="nameLaw" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contentLaw" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="condemn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Law" nillable="true" type="tns:Law" />
</xs:schema>